@media screen and (min-width: 360px) {
  main {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    .main_wrap {
      width: 360px;
      margin: 0 auto;
      position: relative;
      p {
        width: 242px;
        font-size: 17px;
        color: #ffffff;
      }

      img {
        width: 371px;
      }
    }
    .choice {
      width: 350px;
      margin: 0 auto;
      padding-top: 30px;
      p {
        text-align: center;
        width: 340px;
        font-size: 17px;
        color: #ffffff;
      }
    }
    .buttons {
      width: 240px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0 auto;

      .button1 {
        align-items: center;
        width: 184px;
        font-size: 14px;
        padding: 10px 7px;
        background: #00ac83;
        color: #ffffff;
        border: none;
        &:hover {
          background: #057e62;
        }
      }
      .button2 {
        align-items: center;
        width: 184px;
        font-size: 14px;
        padding: 10px 7px;
        background: #005b3b;
        color: #ffffff;
        border: none;
        &:hover {
          background: #02a66d;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    max-width: 100%;
    .main_wrap {
      padding-top: 30px;
      width: 650px;

      p {
        width: 600px;
        font-size: 19px;
      }
      img {
        padding-top: 10px;
        width: 400px;
      }
    }
    .choice {
      width: 370px;
      font-size: 19px;
    }
    .buttons {
      width: 245px;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 100%;
    .main_wrap {
      padding-top: 40px;
      width: 780px;
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        width: 800px;
        font-size: 20px;
      }
      img {
        width: 500px;
      }
    }
    .choice {
      width: 400px;
      p {
        width: 380px;
        font-size: 20px;
      }
    }
    .buttons {
      width: 315px;
      .button1 {
        width: 250px;
      }
      .button2 {
        width: 250px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    max-width: 100%;

    .main_wrap {
      padding-top: 40px;
      width: 1200px;

      p {
        width: 900px;
        font-size: 20px;
      }
      img {
        width: 700px;
      }
    }
    .choice {
      padding-top: 50px;
      width: 400px;
    }
  }
}
