.alumni-fund-title {
  text-align: center;
  margin-bottom: 20px;
}

.alumni-fund-subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.donation-methods .payment-logo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100px;
  margin-bottom: 10px;
}

.contact-card {
  text-align: center;
  margin-top: 20px;
}
