.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal__content {
  padding: 5px;
  border-radius: 2px;
  background: #927efa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 380px;
}

.modal__content .span1 {
  padding-top: 80px;
  color: #ffffff;
  font-size: 22px;
}

.modal__content .wrap .buttons {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin-top: 10px;
  font-size: 17px;
  color: #ffffff;
  background: #00ac83;
  border: none;
  padding: 15px;
  width: 200px;
  transition: background-color 0.3s;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  background: #077c53;
}

.modal__content .inputs {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.modal__content .inputs input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #fbfbfb;
}

.modal__content .registr {
  margin-top: 60px;
}

.modal__content .registr .span1 {
  color: #ffffff;
  font-size: 16px;
}

.modal__content .registr .span2 {
  cursor: pointer;
  color: rgb(16, 16, 120);
}

.qwerty,
.otmena {
  color: #ffffff;
  padding-left: 370px;
  font-size: 20px;
  cursor: pointer;
}

.qwerty:hover,
.otmena:hover {
  color: #dad5d5;
}

.modal__content.active {
  transform: scale(1);
}
