.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f2d80 !important;
  height: 84px;

  .logo-container {
    display: flex;
    align-items: center;
    
    .logo {
      display: flex;
      align-items: center;

      img {
        max-height: 58px;
        margin: 0 16px;
      }

      
    }
    .header-title {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      margin: 0 16px;
    }
  }

  @media (max-width: 768px) {
    .logo-container .secondary-logo {
      display: inline-block;
    }
  }
}
