// @media screen and (min-width: 360px) {
//   header {
//     max-width: 100%;
//     background: transparent;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     .header_wrap {
//       text-align: center;
//       width: 460px;
//       padding-top: 10px;
//       padding-bottom: 10px;
//       // margin: 0 auto;
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       a {
//         text-decoration: none;
//       }
//       .img1 {
//         width: 40px;
//       }
//       .img2 {
//         width: 30px;
//         height: 30px;
//       }
//       &__logo {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         gap: 5px;
//         &__spans {
//           .span1 {
//             font-size: 24px;
//             color: #ffffff;
//           }
//           .span2 {
//             font-size: 24px;
//             color: #d30f1e;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 768px) {
//   header {
//     max-width: 100%;
//     .header_wrap {
//       width: 650px;
//     }
//   }
// }

// @media screen and (min-width: 1024px) {
//   header {
//     max-width: 100%;
//     .header_wrap {
//       width: 900px;
//     }
//   }
// }

// @media screen and (min-width: 1440px) {
//   header {
//     max-width: 100%;
//     margin: 0   ;
//     .header_wrap {
//       width: 1380px;
//     }
//   }
// }
// .header_wrap {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px;
// }

// .header_wrap__logo {
//   display: flex;
//   align-items: center;
// }

// .img1 {
//   // height: 50px;
//   width: 100%;
//   max-height: 70px;
// }

// .header_wrap__logo__spans {
//   margin-left: 10px;
// }

// .span1 {
//   font-size: 18px;
//   font-weight: bold;
// }

// .span2 {
//   font-size: 24px;
//   font-weight: bold;
//   color: #ff6b00;
// }

// .img2 {
//   width: 30px;
//   height: 30px;
//   cursor: pointer;
// }

// .menu_container {
//   position: relative;
// }

// .menu {
//   position: absolute;
//   top: 60px;
//   right: 0;
//   background-color: #fff;
//   border-radius: 5px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   z-index: 10;
// }

// .menu ul {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// .menu ul li {
//   padding: 10px 20px;
//   border-bottom: 1px solid #eee;
// }

// .menu ul li:last-child {
//   border-bottom: none;
// }

// .menu ul li a {
//   color: #333;
//   text-decoration: none;
//   font-size: 16px;
// }

// .menu ul li a:hover {
//   color: #ff6b00;
// }


// .menu_icon {
//   cursor: pointer;
// }

// .menu_icon_img {
//   width: 30px;
//   height: 30px;
// }
.alumnileaderboard {
	background-color: #1f3058;
	padding: 1px 15px 10px 15px;
	margin-bottom: 40px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	height: auto; /* 570px */
	display: relative;
}
.alumnileaderboard h3 {
	color: #efdf8e;
	font-family: 'Open Sans', sans-serif;
}
.alumnileaderboard .alumnilbblock {
	padding: 5px 0;
}
.alumnileaderboard .alumnipercentblock {
	background-color: #efdf8e;
	border-radius: 3px;
	height: 10px;
	margin-top: 5px;
}
.alumnileaderboard .alumnibottomblock {
	clear: both;
	display: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(31,48,88,0) 0%, rgba(31,48,88,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(31,48,88,0) 0%,rgba(31,48,88,0.65) 100%);
	background: linear-gradient(to bottom, rgba(31,48,88,0) 0%,rgba(31,48,88,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}


.articlelink, .articlelink:link, .articlelink:visited, .articlelink:active {
	display: block;
	overflow: hidden;
	clear: both;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 5px;
	text-decoration: none;
	border-bottom: 1px dotted #d3bc4b;
}
.articlelink:hover {
	text-decoration: none;
	color: white;
}

.storiesimage {
	background-position: center center;
	background-size: cover;
	width: 180px;
	height: 180px;
	float: left;
	margin-right: 15px;
}



.blocktab, .blocktab:link, .blocktab:visited, .blocktab:active {
	display: block;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	color: #212121;
	padding: 5px 0;
	margin-top: 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.blocktab:hover {
	text-decoration: none;
	color: white;
	background-color: #1f3058;
}



#scroller {
	position: relative;
}
#scroller .innerScrollArea {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#scroller ul {
	padding: 0;
	margin: 0;
	position: relative;
}
#scroller li {
	padding: 0 30px;
	margin: 0;
	list-style-type: none;
	position: absolute;
}

