@media screen and (min-width: 360px) {
  header {
    max-width: 100%;
    background: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .header_wrap {
      text-align: center;
      width: 460px;
      padding-top: 10px;
      padding-bottom: 10px;
      // margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      .img1 {
        width: 40px;
      }
      .img2 {
        width: 30px;
        height: 30px;
      }
      &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        &__spans {
          .span1 {
            font-size: 24px;
            color: #ffffff;
          }
          .span2 {
            font-size: 24px;
            color: #d30f1e;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    max-width: 100%;
    .header_wrap {
      width: 650px;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    max-width: 100%;
    .header_wrap {
      width: 900px;
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    max-width: 100%;
    margin: 0   ;
    .header_wrap {
      width: 1380px;
    }
  }
}
