.modal2 {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal2.active2 {
  pointer-events: all;
  opacity: 1;
}

.modal__content2 {
  padding: 5px;
  border-radius: 2px;
  background: #927efa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
}

.modal__content2 .span1 {
  color: #ffffff;
  font-size: 22px;
}

.modal__content2 .wrap .buttons {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin-top: 15px;
  font-size: 17px;
  color: #ffffff;
  background: #00ac83;
  border: none;
  padding: 15px;
  width: 200px;
  transition: background-color 0.3s;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  background: #077c53;
}

.modal__content2 .inputs2 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modal__content2 .inputs2 input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #fbfbfb;
}

.modal__content2 .inputs2 .checkbox_wrap {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  width: 200px;
}

.modal__content2 .inputs2 .checkbox_wrap input {
  width: 15px;
}
.modal__content2 .inputs2 .checkbox_wrap span {
  color: #ffffff;
  font-size: 15px;
}

.modal__content2 .login {
  padding-top: 40px;
}

.modal__content2 .login .span1 {
  font-size: 18px;
}

.modal__content2 .login .span2 {
  color: rgb(16, 16, 120);
  font-size: 18px;
  cursor: pointer;
}

.qwerty2,
.otmena2 {
  color: #ffffff;
  padding-left: 370px;
  font-size: 20px;
  cursor: pointer;
}

.qwerty2:hover,
.otmena2:hover {
  color: #dad5d5;
}

.modal__content2.active2 {
  transform: scale(1);
}
